.DS_Store
node_modules
/dist
/.netlify/state.json
/.netlify/edge-functions-import-map.json


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*scaffold.txt
# Local Netlify folder
.netlify
